body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
}
.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  background-color: black;
  border-radius: 10px;
  border: 10px solid transparent;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.333);
}

.bulbs-container {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-template-rows: repeat(6, 20px);
  margin: 5px;

  .bulb {
    width: 10px;
    height: 10px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    background-color: rgb(35, 50, 35);
    transition: 0.25s ease-in-out;
  }
  
  .bulb.active {
    background-color: yellowgreen;
    box-shadow: 0 0 10px 5px green;
  }
}

.input { input {width: 35px; scale: 2;}
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
